* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PAGINA DE INICIO */
.banner {
    background-image: url(../img/gunsnrosesbanner.jpg);
    background-repeat: no-repeat;
   background-size: 100vw 100vh
}

.encabezado {
    background-color: rgb(80, 79, 79);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.encabezado__titulo {
    margin-left: .5rem;
    font-family: 'Roboto', sans-serif;

}
.encabezado__contenedor {
    display: flex;
    align-items: center;

}
.encabezado__logo-titulo {
    width: 70px;
    height: 70px;
}

.navegador__item {
    text-decoration: none;
    display: inline;
    font-family: 'Roboto', sans-serif;
}

.navegador__item a {
    text-decoration: none;
    margin: 1rem;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

.titulo {
    color: black;
    margin: 1rem;

}



.color-nav {
    color:rgb(238, 236, 236);
}

body {
    background-color: black;
}

.footer {
    text-align: center;
    margin-top: 1.8rem;
}

.footer__logo {
    width: 45px;
    height: 45px;
    object-fit: cover;
    
}


/* PAGINA DE INICIO */
/* PAGINA DE INTEGRANTES */

.info {
    display: flex;
    align-items: center;
    
}
.cantante {
    width: 330px;
    height: auto;
    margin: 3rem 2rem 3rem 2rem;
}

.info-cantante {
    color: white;
    margin: 1rem 2rem 2rem 2rem;
    font-size: large;
}
.info-cantante::first-letter {
    color: goldenrod;
    font-size: 1.3rem;
}
#axl {
    margin-top: 5rem;
    display: flex;
    flex-direction: row-reverse;
}

@media screen and (max-width: 980px) {
    .info {
        display: flex;
        flex-direction: column;
    }
    .info-cantante {
        font-size: 1.2rem;
    }
    .cantante {
        margin: 3rem 1rem 1rem 1rem;
    }

    #axl{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .info-cantante {
        font-size: 1rem;
    }
    .cantante {
        width: 250px;
        height: auto;
    }
}

/* PAGINA DE INTEGRANTES */

/* PAGINA DE DISCOGRAFIA */

.album {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 4rem;    
}
.album__disco {

    margin: 2.0rem;
    width: 205px;
    height: 205px;
    gap: 2rem;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 980px) {
    .album {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .album {
        grid-template-columns: repeat(2, 1fr);
    }
}
    


/* PAGINA DE DISCOGRAFIA */

/* PAGINA DE TOUR */
.tour {
   background-color: rgb(39, 38, 38);
    border-style: solid;
    border-color: yellow;
    border-width: 3px;
    margin: 1.5rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}
.tour1 {
    margin-top: 7.4rem;
}
.tour-info {
    margin: 1rem;
    color: beige;
    font-size: 1.5rem;
    
}
/* PAGINA DE TOUR */

/* PAGINA DE CONTACTO */
.formulario {
    width: 450px;
    margin: auto;
    background: rgb(61, 60, 60);
    padding: 10px 20px;
    margin-top: 9rem;
    box-sizing: border-box;
    border-radius: 20px;
}
.formulario__titulo {
    color: beige;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: monospace;
    margin: 0;
}

.formulario__input {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}
.formulario__textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    min-height: 100px;
    max-height: 100px;
}

.formulario__boton {
    border-radius:10px;
    background-color: beige;
    width: 12.67rem;
}


/* PAGINA DE CONTACTO */
