main {
    grid-area: main;
    position: relative;
    
    .titulo {
        color: rgb(0, 0, 0);
        font-size: 3.5rem;
        -webkit-text-stroke: 2px $rojo;
        position: absolute;
        top: 50.50%;
        left: 29.10%;
        font-family: 'Archivo Black', sans-serif;
        transition: all 0.3s;

        @include media1 {
            font-size: 3.3rem;
            left: 25.50%;
        }
        @include media2 {
            left: 22%;
            font-size: 3rem;
        }
        @include media3 {
            left: 18%;
            font-size: 2rem;
        }
        
    .titulo:hover {
        transform: scale(1.05);
        -webkit-text-stroke: 3px $rojo;
    }
}
}

